.basketallwrapper {
 max-width: 1440px;
  height: 100%;
  font-family: Nunito;
 
  text-align: center;
  z-index: 110;
 
  margin: auto;
 
}
.name{

    margin:50px auto 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
   
}
